@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    width: 80%;
    margin: 2em auto auto;
    box-sizing: border-box;
    background-color: hsla(0, 0%, 88%, .8);
    font-family: 'Courgette', cursive;
    font-size: 1.2em;
}

div {
    margin: 1em auto;
}

.container {
    width: 90%;
    margin: 4em auto;
    text-align: center;
    transform: scale(1.5);
}

.rounded-shadowy {
    margin: 1em;
    line-height: 3em;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #a8a8a8,
                inset -5px -5px 10px #ffffff;
}

.rounded-shadowy:focus {
    margin: 1em;
    line-height: 3em;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #a8a8a8,
                -5px -5px 10px #ffffff;
}


.form-check-container {
    display: inline-block;
    width: 45%;
    margin: auto;
    vertical-align: top;
    justify-content: center;
}

button:hover {
    transform: scale(1.5);
    box-shadow: 10px 9px 15px 0px rgba(0,0,0,0.44);
}



:required {
    border: solid #832161 1px;
}

.form-check-container:first-child {
    color: #f03a47;
}

.form-check-container:last-child {
    color: #832161;
}

input[type="radio"] {
    color: #832161;
}

.css-button-shadow-border-sliding--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #59c496;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--green:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--green:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #63ee84;
    right: 0;
  }
  .css-button-shadow-border-sliding--green:active {
    top: 2px;
    transform: scale(0.8);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.44);
  }